html {
  scroll-behaviour: smooth;
}

.searchClass {
  visibility: visible;
  width: 60%;
  opacity: 0.5;
  box-sizing: border-box;
  border: 3px solid rgb(0, 0, 0, 0.5);
  border-radius: 22px;
  font-size: 1rem;
  background-color: white;
  background-repeat: no-repeat;
  padding: 5px 10px 5px 10px;
  transition: 0.4s ease-in-out;
}

.searchClass:focus {
  visibility: visible;
  border: 3px solid rgb(0, 0, 0, 0.75);
  opacity: 0.9;
  width: 65%;
}

.navIcons {
  background: none;
  padding: 0px;
  border: none;
  font-size: 1.5rem;
  color: rgb(255, 255, 255, 0.5);
  margin: 5px;
}

.navIcons:hover {
  color: rgb(255, 255, 255, 0.75);
}

body {
  background-color: #222;
  color: rgba(255, 255, 255, 0.9);
}

.paper {
  background-color: #5c5c5c;
}

#navContainer {
}
