html {
  scroll-behaviour: smooth;
}

body {
  background-color: #222;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

@media (min-width: 992px) {
  /* For desktop: */
  .align {
    align-items: center;
  }
}

.align {
  align-items: left;
}

.searchClass {
  visibility: visible;
  opacity: 0.5;
  box-sizing: border-box;
  border: 3px solid rgb(0, 0, 0, 0.5);
  border-radius: 22px;
  font-size: 1rem;
  background-color: white;
  padding: 5px 10px 5px 10px;
  transition: 0.4s ease-in-out;
}

.searchClass:focus {
  visibility: visible;
  border: 3px solid rgb(0, 0, 0, 0.75);
  opacity: 0.9;
}

.navIcons {
  background: none;
  padding: 0px;
  border: none;
  font-size: 1.5rem;
  color: rgb(255, 255, 255, 0.5);
  margin: 5px;
}

.navIcons:hover {
  color: rgb(255, 255, 255, 0.75);
}

.simplePaper {
  background-color: #5c5c5c;
}

.flexContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-plugin {
  height: 30vh;
}
