<div class="row">
  <div class="col-lg-9 col-sm-12">
    <div class="row">
      <div class="container">
        <h1>Recents</h1>
        <p>Nice formula:</p>
        $$ \int_{\mathcal{M}} df = \int_{\partial \mathcal{M}} f$$
      </div>
    </div>
    <div class="row">
      <div class="container">
        <h1>Random</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-12">
    <div class="paper">
      <h1>About</h1>
      <p>Hello world I am Pedroth,</p>
    </div>
  </div>
</div>
