<div class="row" style="flex:1">
  <div class="col-lg-9 col-sm-12 flexContainer" style="padding: 1vh">
    <div class="row">
      <div class="container" id="recent">
        <h1 class="title">Recent</h1>
        <div class="card simplePaper" style="width: 18rem;">
          <img
            class="card-img-top"
            src="https://picsum.photos/300/200"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container" id="random"></div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-12 flexContainer">
    <div class="simplePaper" style="margin: 5px; height: 100%;">
      <div class="container" id="about">
        <h1>About</h1>
        <p>
          Hello world, I am Pedroth, Catholic, searcher of the Good, the Truth
          and the Beauty.
        </p>
        <p>
          My main interest are Mathematics, Computer Science ,
          Philosophy/Theology and the Catholic Faith.
        </p>
        <p>
          In this website I will document my personal projects. Those include
          programming projects, experiments and essays about my interests.
        </p>
        <p>
          Thank you for visiting!
        </p>
      </div>
    </div>
  </div>
</div>
<script src="./resources/templates/main/main.js"></script>
